

.thumb{
	width: 25px; ;
	height: 80px;
	margin-right: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav
{
    color :white;

.drop:hover
{
    background-color: #0c111b;
}

li .anchor
{
    text-decoration: none;
}

.new
{
    font-size: 11px;
    color: rgb(68, 68, 240);
    font-weight: 100;
}

input[type=text]
{
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}

input[type=text]::placeholder
{   
    color:white;
}

input[type=text]:focus
{
    background: transparent;
    color: white;
}

.fa-search
{
    font-size: 22px;
    margin-left: -25px;
}
 
.btn-primary
{
    width: 100px;
    padding: 3px 0px;
}
